{% extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row g-4 mb-4">
        <div class="col">
            <div class="card">
                <h2>Date</h2>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2>Sales predictions</h2>
            </div>
        </div>
    </div>
    <div class="row g-4 mb-4">
        <div class="col">
            <div class="card">
                <h2>Min Sales</h2>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2>Max Sales</h2>
            </div>
        </div>
    </div>
</div>
{%endblock%}